# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
dist/
build/

# RTI project outputs
*.rti
*.bin
*.bml

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
*.swp

# Testing folders
archive/
testing/
driver/